body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    margin: 0;
}

.rectangle{
    position: absolute;
    width: 1110px;
    height:450px;
    top: 50px;
    left: 140px;
    border-radius: 20px;
    background-color:black;
   
}
h1{
    color: aqua;
    position: absolute;
    width: 300px;
    height: 200px;
    left: 70px;
    top: 15px;
    font-family: 'poppins';
    font-size: 39px;

    
   }
   p{
    position:absolute;
    color: aqua;
    position: absolute;
     width: 506px;
     height: 78px;
     left: 70px;
     top:  220px;

     font-family: 'Poppins';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
     }



.btton{
    color: white;
    text-decoration: none;
    background-color: red;
    left: 70px;
    top: 360px;
    padding: 10px 10px;
    border-radius: 5px;
    position: absolute;
    width: 50 px;
    height:40 px;
    }
     .display{
       
        display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            justify-content: center;


        }
       
  .imge{
    width: 200px;
    left: 200px;
  }
    .main-div{
        position: relative;
        top: 600px;
        left: 140px;
        top:550px;
        width:1110px ;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
       
    }
    .link a{
        text-decoration: none;
        width: 150px;
        height: 25px;
        color: black;
        background-color: rgb(237, 239, 241);
        color: rgb(0, 0, 0);
        border-radius: 5px;
        padding: 15px 20px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        display: grid;
        margin: 10px
        
    }
    .link-div a{
        text-decoration: none;
        width: 150px;
        height: 25px;
        color: white;
        background-color: red;
        border-radius: 5px;
        padding: 15px 20px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        display: grid;
        margin: 10px
    }
   
   .choto-div{
    background-color: black;
    width: 210px;
    height:206px ;
    
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.field{
    
    width: 260px;
    height: 200px ;
    border: rgb(204, 195, 195) solid 1px;
    border-radius: 5px;
    margin-top: 15px;
    background-color: aqua;
    
}
.field img{
    width: 260px;
  
    
    border-radius: 5px;
}
.play-detail a{
    text-decoration: none;
    font-size: 20px;
    color:black;
    border: rgb(94, 210, 245) solid 4px;
    padding: 7px;
    border-radius: 5px    ;
   
}