body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    margin: 0;
}
/* 1st secction */

.rectangle{
    position: absolute;
    width: 1110px;
    height:450px;
    top: 50px;
    left: 140px;
    border-radius: 20px;
    background-color:rgb(59, 44, 44);
   
}
h1{
    color: aqua;
    position: absolute;
    width: 300px;
    height: 200px;
    left: 70px;
    top: 15px;
    font-family: 'poppins';
    font-size: 39px;

    
   }
   p{
    position:absolute;
    color: aqua;
    position: absolute;
     width: 506px;
     height: 78px;
     left: 70px;
     top:  220px;

     font-family: 'Poppins';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
     }
     



.btton{
    color: white;
    text-decoration: none;
    background-color: red;
    left: 70px;
    top: 360px;
    padding: 10px 10px;
    border-radius: 5px;
    position: absolute;
    width: 50 px;
    height:40 px;
    }
     .display{
       
        display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            justify-content: center;


        }
       
  .imge{
    width: 200px;
    left: 200px;
  }
  /* 1st section end */


    .main-div{
        position: relative;
        width: 1110px;
        top: 600px;
        left: 140px;
        top:550px;
        width:1110px ;
        height: 400px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 10px;
       
    }
    


   
    .link a{
        text-decoration: none;
        width: 150px;
        height: 25px;
        color: black;
        background-color: rgb(237, 239, 241);
        color: rgb(0, 0, 0);
        border-radius: 5px;
        padding: 15px 20px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        display: grid;
        margin: 10px
        
    }
    .link-div a{
        text-decoration: none;
        width: 150px;
        height: 25px;
        color: white;
        background-color: red;
        border-radius: 5px;
        padding: 15px 20px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        display: grid;
        margin: 10px
    }
   
   .choto-div{
    background-color: black;
    width: 210px;
    height:220px ;
    
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.field{
    
    width: 260px;
    height: 300px ;
    border: rgb(204, 195, 195) solid 1px;
    border-radius: 5px;
    margin-top: 15px;
    background-color: rgb(254, 255, 255);
    
}
.field img{
    width: 260px;
    
  
    
    border-radius: 5px;
}
.play-detail a{
    text-decoration: none;
    font-size: 20px;
    
    color:black;
    border: rgb(94, 210, 245) solid 4px;
    padding: 1px;
    border-radius: 5px    ;
   
}
.icon{
    
    width: 143px;
    height: 26px;
    left: 250px;


}
/* 2nd section end */

.thrid-div{
    position: relative;
        width: 1110px;
        top: 600px;
        left:415px;
        top:500px;
        width:1110px ;
        height: 400px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 10px;


}

.thrid-div1{
    position: relative;
    width: 1110px;
    top: 600px;
    left:415px;
    top:450px;
    width:1110px ;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;

}
/* footer section start */
footer{
    width: 1440px;
    height: 300px;
    background-color: rgb(94, 210, 245) ;
    position: relative;
    top: 50px;
    left: 50px;
    right: 100px;
}
footer h1{
    text-align: center;
    left: 500px;
    align-items: center;
    color: white;

}
.item{
    text-align: center;
   top: 500px;
}
.item a{
    text-decoration: none;
    padding-left: 10px;
    color: aliceblue;
}
hr{
    color: white;
    width: 900px;
    background-color: white;
    border: 5px solid rgb(255, 255, 255);
}
.social-icon img{
    width: 50px;
}
.footer-goal{
    text-align: center;
}
